@media only screen and (min-width: 768px) {
  // FOR DESKTOP AND TABLET

  .card {
    height: 150px;
    width: 95%;
    background-color: #fff;
    border-radius: 5px;

    box-shadow: 2px 2px 2px #d0d9de;
    margin-top: 20px;

    .cardItem {
      display: flex;
      .cardImage {
        margin-top: 10px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .cardDetail {
        border: none !important;
        margin-left: -10px;
        margin-top: -10px;
        h5 {
          margin-top: 17px;
          width: 200px;
          text-align: left;
          font: normal normal bold 16px/26px Lato;
          letter-spacing: 0.32px;
          color: #404040;
          opacity: 1;
        }
        p {
          margin-top: -25px;

          text-align: left;
          font: normal normal normal 12px/20px Lato;
          letter-spacing: 0.32px;
          color: #404040;
          opacity: 1;
        }
      }
      section:nth-child(3) {
        span {
          margin-top: 15px;
          margin-left: -80px !important;

          position: absolute;

          letter-spacing: 24;
          text-align: left;
          font: normal normal normal 12px/12px Lato;
          letter-spacing: 0.24px;
          color: #657683;
          opacity: 1;
        }
      }
    }
    .cardText {
      margin-top: -15px;
      margin-bottom: -25px;
      p {
        padding: 0 10px;
        word-wrap: break-word;

        text-align: left;
        font: normal normal normal 15px/23px Lato;
        letter-spacing: 0.3px;
        color: #657683;
        opacity: 1;
      }
    }
  }
}
