@media only screen and (min-width: 768px) {
  // FOR DESKTOP AND TABLET

  .topGap {
    margin-top: 30px;
  }
  .card {
    height: 50px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #00000019;
    border-radius: 8px;
    opacity: 1;
    margin-top: 10px;
    padding: 0 8px;

    .cardItem {
      display: flex;

      .cardName {
        margin-top: -8px;
        h5 {
          width: 105px;
          text-align: left;
          font: normal normal bold 12px/26px Lato;
          letter-spacing: 0.32px;
          color: #404040;
          opacity: 1;
        }
      }
      .cardTime {
        margin-top: 10px;
        // margin-left: 20px;
        p {
          text-align: left;
          font: normal normal normal 9px/12px Lato;
          letter-spacing: 0.24px;
          color: #657683;
          opacity: 1;
        }
      }
    }
  }
}
